{% macro CategoryItem(data) %}
    <!-- Category Item -->
    <div class="col-md-4 mb-3 text-center">
        <a href="/?categoria={{data.name|lower}}" class="text-center list-group-item list-group-item-action">
          <img src="/assets/images/icons/categories/{{ data.icon }}" width="45" />
          <span class="d-block text-muted text-decoration-none">{{ data.name }}</span>
          <span class="badge rounded-pill bg-success">{{ data.total_groups }}</span>
        </a>
      </div>
    <!--// Category Item -->
{% endmacro %}