{% extends 'layout-base.html' %}

{% block title %} Categorias | {{APP_NAME}} {% endblock %}

{% block content %}
<div class="container mt-5">
  <section>
    <div class="text-center mb-4">
        <h2>Categorias ({{categories|length}})</h2>
        <p>Lista de temas específicos em Grupos do WhatsApp.</p>
    </div>
    <div class="list-group mb-5">
      <div class="row">
        {% for category in categories %}
          <div class="col-md-4 mb-3 text-center">
            <a href="{{APP_URL}}?category={{category.name|url_encode}}" class="text-center list-group-item list-group-item-action">
              <img src="{{APP_URL}}/assets/images/icons/categories/{{ category.icon }}" width="45" />
              <span class="d-block text-muted text-decoration-none">{{ category.name }}</span>
              <span class="badge rounded-pill bg-success">{{ category.total_groups }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}