<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport"    content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Divulgue e encontre grupos do WhatsApp">
  <meta name="author"      content="{{APP_NAME}}">

  {% block meta_options %} {% endblock %}

  <title>{% block title %} {{APP_NAME}} {% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{APP_URL}}/assets/images/logos/{{APP_LOGO}}" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{APP_URL}}/assets/css/libs/bootstrap.min.css">
  <link rel="stylesheet" href="{{APP_URL}}/assets/css/styles.css">
  
  {% block stylesheets %} {# arquivos CSS customizados da página #} {% endblock %}
</head>
<body>

    <!-- Header -->
    {% include 'layout-header.html' %}

    <!-- Content -->
    {% block content %} {# Conteúdo da página #} {% endblock %}
    <!-- / Content -->

    <!-- JS -->
    <script src="{{APP_URL}}/assets/js/libs/bootstrap.bundle.min.js"></script>
    <script src="{{APP_URL}}/assets/js/libs/jquery.js"></script>
    <script src="{{APP_URL}}/assets/js/general.js"></script>

    {% block javascripts %} {# arquivos JS customizados da página #} {% endblock %}
</body>
</html>