body {
    background-color: #f6f6f6;
}

.group-img-rounded {
    border-radius: 100%;
    width: 130px; height: 130px;
    margin-top: 20px;
    object-fit: cover;
}

.card-group {
    overflow: hidden;
    margin: 0 auto;
}

.card-group img {
    width: 100%;
    transition: 0.3s all ease-in-out;
}

.card-group:hover img {
    transform: scale(1.09);
}