    <!-- Footer -->
    <footer class="">
        <div class="container pt-lg-4 pb-4">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-9 col-lg-6">
                    <div class="small mb-3 mb-lg-0 text-lg-center">
                        Copyright © {{ "now"|date("Y") }}
                        <span class="text-primary"><a href="#">{{ APP_NAME }}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>