<div class="p-3 text-bg-dark sticky-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{{APP_LOGO}}" width="36" />
      </a>
      <ul class="ms-3 nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 d-sm-inline d-none">
        <li>
          <a class="text-decoration-none text-white" href="/categorias">Categorias</a>
        </li>
      </ul>
      <div class="text-end ms-4 ">
        <a href="/grupo/enviar" class="btn btn-warning fw-semibold">Enviar Grupo</a>
      </div>
    </div>
  </div>
</div>